.img{
    width: 50%;
}
.navbar-nav{
    width: 80%;
    padding-left: 35%;
    margin-left: 25%;
}
.nav-item{
    margin-right: 10%;
}
.fa{
    padding-top: 10px;
    font-size: 18px;
}
.aboutImg{
    width: 95%;
    margin-left: 4%;
}

.left-pad{
    padding: 0px, 90px;
}
.img{
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}
.image-overlay {
    opacity: 0.5;
    background-color: #000000;
}
.boxed{
    text-align: center;
}
.para {
    text-align: center;
}
.h5 {
    text-align: center !important;
}
.nav-link {
    letter-spacing: 0.1em;
}
h4 {
    letter-spacing: 0.3em;
}
.footer p {
    line-height: 160%
}